li {
    list-style: none;
    cursor: pointer;
}

aside {
    grid-row: 1 /5;

    ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0px;
        border-radius: 7px;
        background-color: $header-background-color;




        li {
            background-color: $aside-background-color;
            height: 100%;
            transition: 0.25s;
            color: white;
            display: flex;
            justify-content: center;
            align-content: center;

            a {
                height: 30px;
                margin: auto;
                text-decoration: none;
                color: white;

            }
        }

        li:first-child {
            border-radius: 7px 7px 0 0;
        }

        li:last-child {
            border-radius: 0 0 7px 7px;
        }

        li:hover {
            border-radius: 7px;
            margin: 10px;
        }
    }
}