$root-padding: 4vh;
$root-background-color: #333143;

$aside-background-color: #59598c;
$content-background-color: lavender;
$header-background-color: #8888bc;

$header-div-text-height: 50px;
$header-div-text-margin: 0px;
$header-div-text-padding: 0px;